@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 17px 26px 17px 26px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

#hero {
    height: 735px;
    background-image: linear-gradient(0.00deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%),
        url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-contant {
    width: 818px;
}

#hero .hero-contant .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 13px;

}

#hero .hero-contant .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 19px;
}

#hero .hero-contant .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 26px;

}

/* ---------------------------------------------------------------- */
#card-box {
    width: 1056px;
    margin: 134px auto;
}

#card-box .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;

}

#card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
}

.card-container {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;

}

.card {
    max-width: 339px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .img-box {
    width: 339px;
}

.card .img-box img {
    width: 100%;
}

.card .shop {
    border-radius: 6px;
    background: rgba(82, 195, 3, 0.15);
    padding: 11px 26px 11px 26px;
}

#card-box .container .btn-container {
    margin-top: 51px;
}

.card-container p {
    text-align: center;
}


/* ---------------------------------------------------------------- */
#card-box-2 {
    margin: 173px auto;
}

.card-container-2 {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
    justify-content: center;
    text-align: center;

}

.card-2 {
    max-width: 339px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-2 .img-box-2 {
    width: 339px;
}

.card-2 .img-box-2 img {
    width: 100%;
}

.card-2 .shop-2 {
    border-radius: 6px;
    background: rgba(82, 195, 3, 0.15);
    padding: 11px 26px 11px 26px;
}

#card-box-2 .container-2 .btn-container {
    margin-top: 51px;
}

.card-container-2 p {
    text-align: center;
}

/* ------------------------------------------------------------ */

#about-us {
    height: 494px;
    display: flex;
    justify-content: center;
}

#about-us img {
    width: 768px;
}

.details-container {
    position: relative;
    width: 664px;
    text-align: center;
    margin-left: 62px;
}

.details-container h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 109px;
}

.details-container p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-top: 19px;
}

.follow-us {
    position: absolute;
    width: 750px;
    right: -13px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    padding: 24px 8px 24px 8px;

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 38px;
    padding-left: 55px;
}

#about-us .icons {
    margin-top: 142px;
    display: flex;
    gap: 26px;
    justify-content: center;
    font-size: 32px;
}

#facebook {
    color: linear-gradient(180.00deg, rgb(0, 178, 255) -0.911%, rgb(0, 106, 255) 104.264%);
}

#linkedin {
    color: linear-gradient(180.00deg, rgb(0, 178, 255) -0.911%, rgb(0, 106, 255) 104.264%);
}

#instagram {
    color: rgb(247, 103, 0);
}

#pinterest {
    color: rgb(225, 49, 56);
}


/* ------------------------------------------------------------ */

#footer {        
    position: relative;
    margin-top: 173px;
    height: 494px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../assets/social-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    position: a;
    width: 664px;
    text-align: center;
    margin-left: 62px;
}

.footer-container h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 110px;
}

.footer-container p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-top: 19px;
}

#footer .follow-us {
    position: absolute;
    right: 50px;

    width: 1056px;
    justify-content: center;    
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    padding: 24px 8px 24px 8px;

    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 38px;
    /* padding-left: 55px; */
}

#footer .icons {
    margin-top: 142px;
    display: flex;
    gap: 26px;
    justify-content: center;
    font-size: 32px;
}

#facebook {
    color: linear-gradient(180.00deg, rgb(0, 178, 255) -0.911%, rgb(0, 106, 255) 104.264%);
}

#linkedin {
    color: linear-gradient(180.00deg, rgb(0, 178, 255) -0.911%, rgb(0, 106, 255) 104.264%);
}

#instagram {
    color: rgb(247, 103, 0);
}

#pinterest {
    color: rgb(225, 49, 56);
}